@media screen and (max-width: 930px) {
  .whoWe-content {
    flex-direction: column;
    align-items: center;
  }
  .whoWe-text {
    margin-left: unset;
  }
  .whoWe-text a {
    margin: 10px auto;
    display: block;
    text-align: center;
    max-width: 100px;
  }
}
